{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-6 col-sm-12 col-12">
                <img width="100%" class="" src="./static/login_img.jpg">
            </div>
            <div class="col-md-6 col-xl-6 col-sm-12 col-12">
                <br/><br/><br/><br/><br/><br/><br/><br/>
                <form action="login" class="" method="POST" >
                {% csrf_token %}
                    <div class="form-group">
                      <label for="email">Email address:</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Password:</label>
                      <input type="password" class="form-control" id="pass" name="password" required>
                    </div>
                    <div>
                        <input class="btn btn-danger btn-lg" name="Log In" type="submit" value = " Log In "></input>
                    </div>
                    <br/>
                    <p style="font-size: 20px;">Don't have an account ? <a href="/register" class="">Sign Up</a></p>
                  </form>
                  {% for msg in messages  %}
                  {{msg}}
                  {% endfor %}
            </div>
        </div>
        
    </div>
{% endblock  %}
